body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.panel-primary {
    border-color: #9e04c4;
}

.panel-heading {
    background-color: #9373ec;
    color: #fff;
    text-align: center;
    padding: 5px;
    font-size: 7px;
}

.panel-body {
    padding: 10px;
}

.form-group {
    margin-bottom: 13px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="password"],
select {
    width: 100%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="number"] {
    width: 100%;
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-primary {
    background-color: #9e04c4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #23527c;
}

.nav-links {
    list-style: none;
    padding: 0;
}

.nav-links li {
    display: inline-block;
    margin-left: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: #2b022d;
}

.nav-links li a:hover {
    text-decoration: underline;
}

.image-container {
    height: 100%;
    margin-top: -100px; /* Adjust the negative margin to move the image up */
}